{% extends "layout.html" %}

{% block content %}
  <h3>{{obj[0].title}}<small> (<a href="{{obj[0].urlTitle}}/similar">Similar</a>)</small></h3>
  <h4>by <a href="{{obj[0].name}}">{{obj[0].name}}</a></h4>
  <div>PLACEHOLDER TAG LIST</div>
  <hr/>
  <div><a href="{{obj[0].name}}">{{obj[0].name}}</a></div>
  <div class="page-body">{{obj[0].content}}</div>
  <hr/>
  <a href="{{obj[0].urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{obj[0].urlTitle}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}